In [136]:
import os
import pandas as pd
import numpy as np
import re

In [137]:
# load datasets 
df = pd.read_csv('Dataset_2.csv')
df

    CustomerID PhoneNumber1  PhoneNumber2
0         1000   9113458738  1.114897e+10
1         1001   9013458736  1.104897e+09
2         1002   8913458734           NaN
3         1003   8813458732  1.084897e+10
4         1004          aaa  1.074897e+10
5         1005   8613458728  1.064897e+10
6         1006    851345872  1.054897e+10
7         1007   8413458724  4.000000e+00
8         1008   8313458722  1.034897e+10
9         1009          NaN  1.024897e+10
10        1010   8113458718  1.014897e+09
11        1011   8013458716  1.004897e+10
12        1012          NaN  9.994897e+10
13        1013   7813458712  9.824897e+10

# Data cleaning
After looking at the above data, we find alphabetic values, trailing zeros, decimals, and NaN values in our phone number list

Therefore, we will rectify by:
- converting values to integer (remove trailing zeros and decimals)
- future proof by remove only selecting numeric characters (remove alphabets/dashes)

In [138]:
def int_or_else(value, else_value=None):
    """Given a value, returns the value as an int if possible. 
    If not, returns else_value which defaults to None.
    """
    try:
        return int(value)
    except Exception:
        return else_value

In [139]:
# clean up dataframe by formatting all to strings 
df['PhoneNumber1'] = df['PhoneNumber1'].apply(lambda x: re.sub("[^0-9]", "", str(int_or_else(x))))
df['PhoneNumber2'] = df['PhoneNumber2'].apply(lambda x: re.sub("[^0-9]", "", str(int_or_else(x))))

In [145]:
# we find here that most PhoneNumber2 are 11 digits???
df['PhoneNumber2'].apply(lambda x:len(x))

0     11
1     10
2      0
3     11
4     11
5     11
6     11
7      1
8     11
9     11
10    10
11    11
12    11
13    11
Name: PhoneNumber2, dtype: int64

# Choose phone number and output table
Clean is defined by two parameters: 
- 10 digits
- all numeric characters (with trailing zeros removed via integer formatting)

In [122]:
number_list = []

# loop through customer list
for k in df['CustomerID'].unique():
    selected_data = df[df['CustomerID'] == k].reset_index(drop=True)
    # if number 1 is clean
    if (len(selected_data['PhoneNumber1'][0]) == 10) & (selected_data['PhoneNumber1'][0].isnumeric()):
        number_list.append(selected_data['PhoneNumber1'][0])
    # else if number 2 is clean
    elif (len(selected_data['PhoneNumber2'][0]) == 10) & (selected_data['PhoneNumber2'][0].isnumeric()):
        number_list.append(selected_data['PhoneNumber2'][0])
    # else populate with NaN value
    else:
        number_list.append(np.nan)

In [146]:
# output table
output_df = pd.DataFrame()
output_df['CustomerID'] = df['CustomerID'].unique()
output_df['PhoneNumber'] = number_list
output_df.to_csv('assignment_2_results.csv')