In [1]:
import pandas as pd
import os
from bokeh.plotting import figure
from bokeh.io import output_file,show

In [2]:
# load df 
df = pd.read_excel('TREND01-5G-educ-fertility-bubbles.xls',header = 7)
df.head(10)

               Country  Continent female literacy fertility    population
0                 Chine       ASI            90.5     1.769  1.324655e+09
1                  Inde       ASI            50.8     2.682  1.139965e+09
2                   USA       NAM              99     2.077  3.040600e+08
3             Indonésie       ASI            88.8     2.132  2.273451e+08
4                Brésil       LAT            90.2     1.827  1.919715e+08
5              Pakistan       ASI              40     3.872  1.661115e+08
6            Bangladesh       ASI            49.8     2.288  1.600001e+08
7               Nigéria        AF            48.8     5.173  1.512123e+08
8  Fédération de Russie       EUR            99.4     1.393  1.419500e+08
9                 Japan       ASI              99     1.262  1.277040e+08

In [3]:
# Bokeh scatter

# set up figure
p = figure(x_axis_label='fertility (children per woman)', y_axis_label='female_literacy (% population)',
          tools = 'box_select')

# populate figure
p.x(df['fertility'][df['Continent'] == 'AF'], df['female literacy'][df['Continent'] == 'AF'],
    color='red',size=10, selection_color = 'red', nonselection_alpha = 0.1)
p.circle(df['fertility'][df['Continent'] == 'LAT'], df['female literacy'][df['Continent'] == 'LAT'],
        color = 'blue', size = 4, selection_color = 'blue', nonselection_alpha = 0.1)

# save file via output_file and show html
file_name = 'fert_lit.html'
output_file(os.getcwd() + '/images/' + file_name)
show(p)